<div class="container">
    <div class="row">
         <form [formGroup]="userForm" (submit)="displayForm()">
              <div class="col-lg-6 input-group">
                   <label for="">User Name</label>
                   <input type="text" class="form-control" formControlName="username">
              </div>
              <div class="col-lg-6">
                   <label for="">Fav Food</label>
                   <br>
                   <span *ngFor="let food of favFood">
                        <input  type="checkbox" [value]="food.value" (change)="checkBoxChange($event)">{{food.name}}
                   </span>
              </div>
              <input type="submit" value="Submit">
         </form>
    </div>
</div>